<a href="/dashboard/edit/{{id}}" class="edit-link flex justify-between bg-orange-100 hover:bg-orange-200 p-4 mb-2 text-lg rounded-lg" >
  <div class="bg-amber">{{garden_name}}</div>
  <div>{{format_date created_at}}</div>
</a>