<section id="garden-list-items">
  {{#each this}}
  <div class="garden-item bg-blue-100 border-2 border-black rounded-lg text-center mb-2">
    <div class="plant" data-id="{{this.id}}">{{this.name}}</div>
    <button type="button" class="remove-plant bg-red-500 hover:bg-red-700 p-2 ">Remove</button>
  </div>
  {{/each}}
</section>