<article class="garden text-center bg-orange-100 hover:bg-orange-200 p-4 mb-2 text-lg rounded-lg"> 
    <a href="/community/garden/{{id}}" >{{garden_name}}</a>
    <div class="author">Created by {{user.username}} on {{format_date created_at}}</div>
</article>