<article class="garden"> 
    <div class="garden-header">
        <a href="/community/garden/{{id}}">{{garden_name}}</a>
        <div class="author">Created by {{user.username}}</div> </div>
    </div>
</article>