<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Garden Planner</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a class="app-name" href="/">My Garden Planner</a>
      </h1>
      <nav class="resources">
        <a href="#">login</a>
        <a  href="#">community</a>
        <a  href="#">contact</a>
      </nav>
    </header>
    <main>
      {{{ body }}}

      <!-- LOGIN FORM -->
<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<!-- SIGN UP FORM -->
<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="text" id="password-signup"/>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>