<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Garden Planner</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a class="app-name" href="/">My Garden Planner</a>
      </h1>
      <nav class="resources">
        <a href="#">login</a>
        <a  href="#">community</a>
        <a  href="#">contact</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
      <p> How does your garden grow?</p>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>