<form class="add-plant-form">
    <label for="plant-name">Plant Name:</label>
    <input type="text" id="plant-name" name="plant-name" />
    <br>
    <label for="plant-type">Type:</label>
    <input type="text" id="plant-type" name="plant-type" />
    <br>
    <label for="sun-intake">Sun Intake:</label>
    <input type="text" id="sun-intake" name="sun-intake" />
    <br>
    <label for="water-intake">Water Intake:</label>
    <input type="text" id="water-intake" name="water-intake" />
    <br>
    <label for="soil-type">Soil Type:</label>
    <input type="text" id="soil-type" name="soil-type" />
    <br>
    <button class="add-plant-btn" type="submit" value="Add Plant">Add Plant</button>
</form>

<script src="/js/add-plant.js"></script>