<form class="add-plant-form">
    <label for="plant-name"><b>Plant Name:</b></label>
    <input type="text" id="plant-name" name="plant-name" />
    <br>
    <label for="plant-type"><b>Type:</b></label>
    <input type="text" id="plant-type" name="plant-type" />
    <br>
    <label for="sun-intake"><b>Sun Intake:</b></label>
    <input type="text" id="sun-intake" name="sun-intake" />
    <br>
    <label for="water-intake"><b>Water Intake:</b></label>
    <input type="text" id="water-intake" name="water-intake" />
    <br>
    <label for="soil-type"><b>Soil Type:</b></label>
    <input type="text" id="soil-type" name="soil-type" />
    <br>
    <button id="add-plant-btn" type="submit" value="Add Plant">Add Plant</button>
</form>

<script src="/js/add-plant.js"></script>