<main class="page-content">
  <section class="task-list-wrapper">
    <h2 class="list-title">What are we growing?</h2>
    <ul class="task-list">
      <li class="task-item">Vegetables</li>
      <li class="task-item">Fruits</li>
      <li class="task-item">Herbs</li>
      <li class="task-item">Trees</li>
      <li class="task-item">Other</li>
    </ul>
  </section>
</main>