<section class="garden-list">
  <!-- Loop to get each of the gardens -->
  {{#each gardens as |garden|}}
  <div>
    <!-- Getting garden html with gardenInfo.handlebars -->
    {{> gardenInfo community-garden }}
  </div>
  {{/each}}
</section>