<body class="flex-column min-100-vh">

  <section class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Garden</a>
  </section>
</body>

<!-- there is a list of gardens -->
{{#if gardens.length}}
<section class = "dashboard-gardens-list">
  {{#each gardens as |garden|}}
    {{> dashboardGardenInfo garden}}
  {{/each}}
</section>
{{/if}}

<script src="/js/logout.js"></script>


