<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garden Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">

  <section class="footer flex-row justify-center">
    <a href="/dashboard/new">â• New Garden</a>
  </section>
</body>

<script src="/js/logout.js"></script>


