<main class="page-content">
  <section class="task-list-wrapper">
    <h2 class="list-title">What are we growing?</h2>
    <ul class="garden-list-items">
      <li class="garden-item">Vegetables</li>
      <li class="garden-item">Fruits</li>
      <li class="garden-item">Herbs</li>
      <li class="garden-item">Trees</li>
      <li class="garden-item">Other</li>
    </ul>
    <button>ADD</button>
  </section>
</main>