<section class="page-content bg-orange-200 p-4 rounded-lg">
  <h3 id="garden-name" class="text-center min-w-full text-gray-700 text-lg uppercase tracking-wide font-bold mb-1">{{garden.garden_name}}</h3>
  <section class="task-list-wrapper">
    <h2 class="list-title text-center min-w-full text-gray-700 text-md uppercase tracking-wide font-bold mb-1">What are we growing?</h2>
    {{> communityPlantList garden.plants}}
  </section>
</section>
