* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
  }
  
  a {
    text-decoration: none;
    color: #D6CDBF;
    font-weight: bold;
    transition: color .1s;
    }
  
  a:hover {
    color: #000000;
  }
  
  button {
    background-color: #D6CDBF;
    border: 0;
    padding: 2%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #AB9A80;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #525A41;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }

  form {
    background-color: #D6CDBF;
    padding: 12px 20px;
    border-radius: 10px;
  }
  /**
  form > div {
    margin-bottom: 2%;
  }
  **/
  form label {
    display: block;
    font-family: 'Pangolin';
    font-weight: bold;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 5px solid #AB9A80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #525A41;
  }
  
  header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    }

  header .app-name {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040303;
    letter-spacing: 4px;
  }
  
  nav {
    word-spacing: 2em;
    font-family: 'Pangolin', cursive;
    font-size: 1.2em;
  }

  main {
    flex: 1;
    padding: 2% 4%;
    background-color: #525A41;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }